.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #ddd;
    box-shadow: - 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    bottom: 2em;
    background: rgb(62, 102, 134);
    border-radius: 5px;
    border: none;
}

.Person input {
    height: 2em;
    font-family: 'Ubuntu', sans-serif;

}

@media(max-width: 340px) {
    .Person input {
        width: 90%;
    }
}