.red {
  color: red;
  display: block;
}

.green {
  color: green;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.show {
  display: none;
}

.Cockpit button {
  background-color: #ed5565;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-weight: Bold;
  letter-spacing: 2px;
}

.Cockpit button:hover {
  background-color: #2286e4;
  color: #000;
  cursor: pointer;
}

.Cockpit button.Red {
  background-color: #ed5565;
  color: #fff;
}

.Cockpit button.Red:hover {
  background-color: #ed5594;
  color: #000;
}

.Cockpit button.Blue {
  background-color: #2286e4;
  color: #fff;
}

.Cockpit button.Blue:hover {
  background-color: aqua;
  color: #fff;
}
